workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0fa148b2-3dd0-4bc8-b2fd-48cbf542b7a9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/n8n-io/n8n/stargazers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Authorization",
              "value": "token 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"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "3d6d0a4d-f7c3-4cd4-9f5f-c0bad349572d",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      username: \"torvalds\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "770bbe9d-996f-44e9-86de-671134ec6ee9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/users/{{$json[\"username\"]}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Authorization",
              "value": "token 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"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "f8eca03a-cbaa-46af-aa51-0d77fcb9f9dc",
      "name": "HTTP Request1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "79d02a1d-9024-4f76-8aae-15c164017b47",
              "leftValue": "={{$json[\"followers\"]}}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "35f6155e-858f-463c-a351-4bb705bb2b2a",
              "leftValue": "={{$json[\"public_repos\"]}}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "78639ba8-2ec0-48e3-bca0-9b53cacd9ccb",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const name = item.json.name || \"Developer\";\n  const company = item.json.company || \"their organization\";\n  const bio = item.json.bio || \"\";\n\n  return {\n    json: {\n      name,\n      company,\n      bio,\n      pitch: `Hi ${name}, your work${bio ? \" in \" + bio : \"\"} at ${company} is impressive—would love to connect and explore collaboration opportunities.`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -96
      ],
      "id": "c1d11071-1148-4c0d-a348-df1769541ca7",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1487800540300574904/oE0ePXJE_eDZSIgSOBca-TXT9WofM3ITWz0bTWOo345s9mgIaZf0ZzWeSJhButWgN72j",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"content\": \"🚀 High-Value Lead Detected!\\n\\nName: \" + $json.name +\n             \"\\nCompany: \" + $json.company +\n             \"\\nBio: \" + $json.bio +\n             \"\\n\\nPitch: \" + $json.pitch\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        -96
      ],
      "id": "4b49e436-42f5-49ad-8f8a-e918dde19cbf",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a5f5090a-ca58-4be0-b243-b22beaaf9f1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "afc5e2bad93ada508d29924a532f198ad39ea22f8593a7cca6decca359e3bf89"
  },
  "id": "U9GylbKd4qw0rbeF",
  "tags": []
}